.task {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    gap: 24px;

    &__description {
        text-wrap: wrap;
        word-break: break-all;
        margin: 0;

        textarea {
            border: none;
            width: 100%;
            word-break: break-all;
            text-wrap: wrap;
            resize: none;
            height: fit-content;
            object-fit: fill;
        }
    }

    &__actions {
        display: flex;
        gap: 15px;
    }
}